.events {
    padding: 138px 0 150px;

    &__listing {
        margin-bottom: 100px;
    }

    &__tariffs {
        margin-bottom: 50px;
    }

    &__choice {
        margin-bottom: 75px;

        .choice__title {
            margin-bottom: 50px;
        }
    }

    .listing__events-list {
        margin-bottom: -50px;
    }

    &__tariffs-description {
        max-width: 868px;
        margin-top: 0;
        margin-bottom: 60px;
    }
}