.event-promo {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    &__title {
        margin: 0 0 80px;
        padding-left: 20px;
        font-family: @font2;
        font-size: 4.375rem;
        font-weight: 500;
        line-height: 1.28;
        text-align: center;
    }

    &__info-block {
        display: grid;
        grid-template-columns: 1fr 497px 1fr;
        gap: 60px;
    }

    &__left,
    &__right {
        position: relative;
        box-sizing: border-box;
        align-self: center;
        padding: 12px 0;
    }

    &__left {

        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 139px;
            height: 1px;
            background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
        }

        &::before {
            top: 5px;
        }

        &::after {
            bottom: 0;
        }
    }

    &__date,
    &__place {
        text-align: right;
    }

    &__date,
    &__time {
        margin: 0 0 11px;
        font-family: @font3;
        text-transform: uppercase;
    }

    &__date {
        display: block;
    }

    &__time {
        padding-top: 7px;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
    }

    &__place,
    &__address {
        margin: 0;
    }

    &__picture {
        position: relative;
        max-width: 497px;
        width: 100%;
        min-height: 532px;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            width: 100%;
            padding-top: 107%;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__right {

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 139px;
            height: 1px;
            background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%, );
        }

        &::before {
            top: 5px;
        }

        &::after {
            bottom: 0;
        }
    }
}