.events {
    padding: 140px 0 150px;

    &__listing, 
    &__tariffs,
    &__choice {
        margin-bottom: 100px;
    }

    &__listing {
        padding-bottom: 202px;
    }
    
    &__tariffs-description{
        max-width: 868px;
    }
}