.event {
    padding: 40px 0 150px;
    
    &__promo {
      box-sizing: border-box;
      margin-bottom: 80px;
    }

    &__content{
      box-sizing: border-box;
      margin-bottom: 80px;
    }
  }