.social {  
    display: flex;
    margin: 0 auto;

    &__instagram,
    &__vk {
        display: block;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: @black;

        &:hover {
            background-color: @red_dark;
        }
    }

    &__instagram {
        margin-right: 44px;
    }
}