.table {
    width: 100%;
    border-collapse: collapse;
    color: @black;
    text-align: center;

    &__tr {
        border-bottom: 1px solid @gray_dark;

        &:nth-child(2n-1) {
            background-color: fade(@black, 3%);
        }
    }

    &__th {
        box-sizing: border-box;
        height: 85px;
        padding: 10px;
        border-left: 1px solid @gray_dark;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.125em;
        line-height: 1.56em;

        &:first-child {
            padding-left: 0;
            border-left: none;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__footer-th {
        box-sizing: border-box;
        padding: 10px;
        height: 60px;
        border-left: 1px solid @gray_dark;
        font-size: 0;

        &:first-child {
            border-left: none;
        }
    }

    &__body-th {
        box-sizing: border-box;
        height: 50px;
        padding: 10px 10px 10px 0;
        font-size: 1.125em;
        font-weight: 400;
        text-align: left;
        line-height: 1.56em;
    }

    &__td {
        box-sizing: border-box;
        height: 50px;
        padding: 10px;
        border-left: 1px solid @gray_dark;
        text-align: center;
        font-weight: 600;

        &:last-child {
            padding-right: 0;
        }
    }

}